<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card-content>
    <img src="assets/saludo.png" alt="">
    
    <p style="text-align: center; color:palegreen; font-weight: bold; font-size: 15px;">Bienvenido {{nombre}}</p>
    

      <ion-button [routerLink]="['/perfil', numero]" expand="block" fill="solid" color="primary" shape="round">
        Perfil
        </ion-button>
        <ion-button *ngIf="authservice.IsAlumno()" [routerLink]="['/qr']" expand="block" fill="block" fill="solid" color="primary" shape="round">
          Escanear QR
        </ion-button>
        <ion-button *ngIf="authservice.IsProfesor()" [routerLink]="['/create-qr', numero]" expand="block" fill="solid" color="primary" shape="round">
          Generar QR
        </ion-button>
      <ion-button (click)="logout()" expand="block" fill="solid" shape="round">
        logout
      </ion-button> 
  </ion-card-content>
  
  <ion-header collapse="condense">
    
  </ion-header>
</ion-content>




