<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"
      color="primary">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="centrado_android">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="centrado_ios">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="registroForm">

    <ion-item>
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input type="text" placeholder="Nombre Completo" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido:</ion-label>
      <ion-input type="text" placeholder="Apellido completo" formControlName="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Usuario:</ion-label>
    <ion-input type="text" placeholder="3 primeras letras del nombre y apellido completo" formControlName="usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" placeholder="" formControlName="contra"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Rol:</ion-label>
        <ion-select formControlName="role">
          <ion-select-option value="Estudiante">Estudiante</ion-select-option>
          <ion-select-option value="Profesor">Profesor</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="registroForm.get('role')?.value === 'Profesor'">
            <ion-label position="floating">Asignatura 1: </ion-label>
            <ion-select formControlName="asig1"  >
              <ion-select-option value="Bbd">Programación de base de datos</ion-select-option>
              <ion-select-option value="ProgMovil">Programación de aplicaciones moviles</ion-select-option>
              <ion-select-option value="Arquitectura">Arquitectura de software</ion-select-option>
              <ion-select-option value="Calidad">Calidad de software</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="registroForm.get('role')?.value === 'Profesor'">
            <ion-label position="floating">Asignatura 2: </ion-label>
            <ion-select formControlName="asig2"  >
              <ion-select-option value="Bbd">Programación de base de datos</ion-select-option>
              <ion-select-option value="ProgMovil">Programación de aplicaciones moviles</ion-select-option>
              <ion-select-option value="Arquitectura">Arquitectura de software</ion-select-option>
              <ion-select-option value="Calidad">Calidad de software</ion-select-option>
            </ion-select>
          </ion-item>

    <ion-button (click)="registrar()" expand="block" fill="solid" shape="round">
      Registrar Usuario
    </ion-button>
  </form>
</ion-content>