.body_andoid{ 
    background-color: #3988D2;;
}

.body_ios{ 
    background-color: #3988D2;;
}
ion-content {
    --ion-background-color: #3988D2;
  }
ion-header {
    --ion-background-color: #3988D2;
}
ion-button {
    --ion-background-color: #3988D2;
}