.centrado_ios {
    text-align: center;
}

.centrado_android {
    margin-left: 15%;
}

ion-content {
    --ion-background-color: #3988D2;
  }
ion-header {
    --ion-background-color: #3988D2;
}