<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualizar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actualizar </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
   
  </ion-card>

  <form>

    <ion-item >
      <ion-label>Usuario: </ion-label>
      <ion-input type="text" name="txtUsername" [(ngModel)]="usuario.usuario" disabled></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Password: </ion-label>
      <ion-input type="password" name="txtPass" [(ngModel)]="usuario.password" required minlength="8"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="updateUsuario()" fill="solid" color="warning" shape="round">Actualizar Usuario</ion-button>
        <ion-button [routerLink]="['/hub']"  fill="solid" color="warning" shape="round">
          Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
